@import './styles/colors';
@import './styles/typography';

* {
  box-sizing: border-box;
}

@mixin on-desktop {
  @media screen and (min-width:1043px) { @content; }
}


body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #252525;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}

h1{
  font-size: 1.2rem;
}

.container {
  display: block;
  margin: 0 auto;

  @include on-desktop {
  max-width: 1024px;
  }
}

